body{
  background-color: antiquewhite;
  background-image: url("/photo_2024-02-29_01-41-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App{
  border:2px solid white;
  margin: 150px 30%;
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
}
.App h2{
color: #7d62a0;
}
.App ul{
  list-style: "✔️";
  list-style: "⚪";
cursor: pointer;
font-size: 22px;
margin: 20px;
}
.App input{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin: 20px;
  background-color: #cfabfe;

}
.App button{
  display: block;
  margin: auto;
  width: 150px;
  height: 40px;
  background-color:#cfabfe;
  border-radius: 10px;
  border: 0;
  
}
.App ul li{
  word-wrap: break-word;
}
.diffstyle{
  list-style: "🟣";
  text-decoration: line-through;
}
.d{
  display: flex;
  justify-content: space-between;
  align-items: center;
}